
<footer class="footer-area bg-black-3 pt-100 section-padding-4">
    <div class="container-fluid">
        <div class="footer-top pb-60">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                    <div class="footer-widget footer-contact-wrap-2 mb-40">
                        <a href="/"><img src="~/Assets/admin/images/logo-light.png" width="250" alt="logo"></a>
                        <div class="footer-contact-content-2">
                            <div class="footer-info-hm5">
                                <span>Phone</span>
                                <p>+84 123 456 789</p>
                            </div>
                            <div class="footer-info-hm5">
                                <span>Mail</span>
                                <p><a href="mailto:localshop@gmail.com">localshop@gmail.com</a></p>
                            </div>
                            <div class="footer-social-hm5">
                                <span>Follow us</span>
                                <ul>
                                    <li><a href="https://facebook.com/nguyendinhhau1807" target="_blank">Facebok</a></li>
                                    <li><a href="https://twitter.com/dinhhau1807" target="_blank">Twitter</a></li>
                                    <li><a href="https://github.com/dinhhau1807" target="_blank">Github</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-12 col-sm-6">
                    <div class="footer-widget mb-40 ml-55 mrg-md-footer">
                        <div class="footer-title-4">
                            <h3>Shop Info</h3>
                        </div>
                        <div class="footer-list-4">
                            <ul>
                                <li><a href="wishlist.html">Wishlist</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="checkout.html">Shopping Detail</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">EMI</a></li>
                                <li><a href="#">Home Delevary</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 col-sm-6">
                    <div class="footer-widget mb-40 ml-200">
                        <div class="footer-title-4">
                            <h3>Support</h3>
                        </div>
                        <div class="footer-list-4">
                            <ul>
                                <li><a href="#">Customer Suport</a></li>
                                <li><a href="#">Shipping Policy</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Order Status</a></li>
                                <li><a href="contact.html">Contact info</a></li>
                                <li><a href="#">Product Support</a></li>
                                <li><a href="#">Vendor Support</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 col-sm-6">
                    <div class="footer-widget mb-40 f-right">
                        <div class="footer-title-4">
                            <h3>About</h3>
                        </div>
                        <div class="footer-list-4">
                            <ul>
                                <li><a href="#">Daxone Corporation</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Provacy Policy</a></li>
                                <li><a href="#">Term of use</a></li>
                                <li><a href="#">Why choose us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom pt-20 pb-20 border-top-3">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                    <div class="copyright-2">
                        <p>Copyright © <a href="/">localshop</a>. All Right Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
