@{
    ViewBag.Title = "dashboard";
}

@section topbar {
    @Html.Action("topbar", "nav", new { header = NavigationHeader.Dashboard })
}

<div class="row">
    <div class="col-md-5 col-sm-5 col-6 p-2 mx-auto mt-4 btn btn-outline-secondary btn-lg">
        Not implemented yet!
    </div>
</div>