
@{
}

@section topbar {
    @Html.Action("topbar", "nav", new { header = "Access denied" })
}

<div class="row">
    <div class="col-md-5 col-sm-5 col-6 p-2 mx-auto mt-4 btn btn-outline-danger btn-lg">
        Access Denied!
    </div>
</div>