@model HandleErrorInfo

@{
    ViewBag.Title = "Internal server error!";
}

<div class="pt-90 pb-90 section-padding-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h1 class="text-info"><i class="la la-warning"></i> 500 Server Error!</h1>
                <h3 class="text-info">There is a problem with the resource you are looking for, and it cannot be displayed.</h3>
            </div>
        </div>
    </div>
</div>
