@model HandleErrorInfo

@{
    ViewBag.Title = "Page not found!";
}

<div class="pt-90 pb-90 section-padding-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h1 class="text-warning"><i class="la la-warning"></i> 404!</h1>
                <h3 class="text-warning">The page you requested cannot be found.</h3>
            </div>
        </div>
    </div>
</div>
