<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            &copy; Adminto theme by <a href="https://coderthemes.com/" target="_blank">Coderthemes</a>
        </div>
        <div class="col-md-6">
            <div class="text-md-right footer-links d-none d-sm-block">
                <a href="https://github.com/dinhhau1807" target="_blank">
                    About Me
                    <i class="mdi mdi-account-tie"></i>
                </a>
                <a href="https://github.com/dinhhau1807/localshop" target="_blank">
                    Project
                    <i class="mdi mdi-github-circle"></i>
                </a>
            </div>
        </div>
    </div>
</div>
