
@{
    ViewBag.Title = "Forgot password";
}

<div class="pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="text-warning mb-2"><i class="la la-4x la-lock"></i></div>
                <h2 class="text-warning font-weight-bold">Reset password!</h2>
                <p class="lead">
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
</div>

