
@{
    ViewBag.Title = "Reset password";
}

<div class="pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="text-success mb-2"><i class="la la-4x la-unlock-alt"></i></div>
                <h2 class="text-success font-weight-bold">Reset password!</h2>
                <p class="lead">Your password has been reset.</p>
                <div class="pt-20">
                    <a href="@Url.Action("login", "account")" class="btn btn-outline-success">
                        Click here to login
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>